In [3]:
from nba_api.stats.static import players,teams
from nba_api.stats.endpoints import PlayerVsPlayer, TeamVsPlayer, leaguegamefinder, playbyplay
import pandas as pd 
import numpy as np
import json
from nba_api.stats.library.parameters import Season
from nba_api.stats.library.parameters import SeasonType

In [5]:
steph_id = players.find_players_by_full_name('Steph')[1]['id']
pat_id = players.find_players_by_full_name('Patrick')[0]['id']

In [3]:
PlayerVsTeam = TeamVsPlayer(team_id='1610612740', vs_player_id=steph_id).get_normalized_dict()

ReadTimeout: HTTPSConnectionPool(host='stats.nba.com', port=443): Read timed out. (read timeout=30)

# how to access parameters of api calls

In [42]:
params = TeamVsPlayer(team_id='1610612740', vs_player_id=steph_id).parameters

# An example of TeamVsPlayer to DataFrame

In [44]:
normalized_dict = TeamVsPlayer(team_id='1610612740', vs_player_id=steph_id, season='2015-16').get_normalized_dict()
df = pd.DataFrame.from_dict(normalized_dict, orient = 'index')
TeamVsPlayer = df.transpose()
TeamVsPlayer['Overall']

TypeError: 'DataFrame' object is not callable

# An example of PlayerVsPlayer to DataFrame

In [28]:
data = PlayerVsPlayer(player_id = steph_id, vs_player_id = pat_id).get_normalized_dict()
df = pd.DataFrame.from_dict(data, orient = 'index')
PlayerVsPlayer = df.transpose()

In [13]:
pd.DataFrame.from_dict(df['ShotAreaOnCourt'][5],orient = 'index').transpose()

,GROUP_SET,PLAYER_ID,PLAYER_NAME,VS_PLAYER_ID,VS_PLAYER_NAME,COURT_STATUS,GROUP_VALUE,FGM,FGA,FG_PCT,CFID,CFPARAMS
0,Vs. Player,201939,Stephen Curry,201976,"Beverley, Patrick",On,Above the Break 3,0,7,0,100,201976

In [14]:
ShotAreaOnCourt_DF = pd.DataFrame(pd.DataFrame.from_dict(df['ShotAreaOnCourt'][0],orient = 'index').transpose())

In [16]:
# for i in df['ShotAreaOnCourt']:
#     ShotAreaOnCourt_DF.append(pd.DataFrame.from_dict(df['ShotAreaOnCourt'][i],orient = 'index').transpose())

In [17]:
pd.DataFrame.from_dict(df['ShotAreaOnCourt'][6],orient = 'index').transpose()

,GROUP_SET,PLAYER_ID,PLAYER_NAME,VS_PLAYER_ID,VS_PLAYER_NAME,COURT_STATUS,GROUP_VALUE,FGM,FGA,FG_PCT,CFID,CFPARAMS
0,Vs. Player,201939,Stephen Curry,201976,"Beverley, Patrick",On,Backcourt,0,0,0,101,201976

In [18]:
pd.concat([pd.DataFrame.from_dict(df['ShotAreaOnCourt'][i],orient = 'index').transpose() for i in range(7)],ignore_index=True)







###########

,GROUP_SET,PLAYER_ID,PLAYER_NAME,VS_PLAYER_ID,VS_PLAYER_NAME,COURT_STATUS,GROUP_VALUE,FGM,FGA,FG_PCT,CFID,CFPARAMS
0,Vs. Player,201939,Stephen Curry,201976,"Beverley, Patrick",On,Restricted Area,1,1,1,95,201976
1,Vs. Player,201939,Stephen Curry,201976,"Beverley, Patrick",On,In The Paint (Non-RA),1,2,0.5,96,201976
2,Vs. Player,201939,Stephen Curry,201976,"Beverley, Patrick",On,Mid-Range,1,2,0.5,97,201976
3,Vs. Player,201939,Stephen Curry,201976,"Beverley, Patrick",On,Left Corner 3,1,1,1,98,201976
4,Vs. Player,201939,Stephen Curry,201976,"Beverley, Patrick",On,Right Corner 3,0,0,0,99,201976
5,Vs. Player,201939,Stephen Curry,201976,"Beverley, Patrick",On,Above the Break 3,0,7,0,100,201976
6,Vs. Player,201939,Stephen Curry,201976,"Beverley, Patrick",On,Backcourt,0,0,0,101,201976

In [19]:
len(df['ShotAreaOnCourt'])

9

In [20]:
df.columns

Index(['Overall', 'OnOffCourt', 'ShotDistanceOverall', 'ShotDistanceOnCourt',
       'ShotDistanceOffCourt', 'ShotAreaOverall', 'ShotAreaOnCourt',
       'ShotAreaOffCourt', 'PlayerInfo', 'VsPlayerInfo'],
      dtype='object')

In [21]:
df['ShotAreaOverall'][0]

{'GROUP_SET': 'Shot Area',
 'GROUP_VALUE': 'Restricted Area',
 'PLAYER_ID': 201939,
 'PLAYER_NAME': 'Stephen Curry',
 'FGM': 11,
 'FGA': 16,
 'FG_PCT': 0.688,
 'CFID': 102,
 'CFPARAMS': None}

In [22]:
pd.DataFrame.from_dict(df['Overall'][1],orient = 'index').transpose()

,GROUP_SET,GROUP_VALUE,PLAYER_ID,PLAYER_NAME,GP,W,L,W_PCT,MIN,FGM,...,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS,NBA_FANTASY_PTS,CFID,CFPARAMS
0,Overall,Patrick Beverley,201976,Patrick Beverley,7,5,2,0.714,211.395,18,...,12,2,1,23,21,43,38,156.4,85,Patrick Beverley

In [23]:
df['PlayerInfo']

0    {'PERSON_ID': 201939, 'FIRST_NAME': 'Stephen',...
1                                                 None
2                                                 None
3                                                 None
4                                                 None
5                                                 None
6                                                 None
7                                                 None
8                                                 None
Name: PlayerInfo, dtype: object

In [71]:
nba_teams = teams.get_teams()

# Select the dictionary for the Pacers, which contains their team ID
golden = [team for team in nba_teams if team['abbreviation'] == 'GSW'][0]
golden_id = golden['id']
print(f'pacers_id: {golden_id}')

pacers_id: 1610612744

In [72]:
gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=golden_id,
                            season_nullable=Season.default,
                            season_type_nullable=SeasonType.regular)  

games_dict = gamefinder.get_normalized_dict()
games = games_dict['LeagueGameFinderResults']
game = games[0]
game_id = game['GAME_ID']
game_matchup = game['MATCHUP']

In [73]:
df = playbyplay.PlayByPlay(game_id).get_data_frames()[0]

In [75]:
df

,GAME_ID,EVENTNUM,EVENTMSGTYPE,EVENTMSGACTIONTYPE,PERIOD,WCTIMESTRING,PCTIMESTRING,HOMEDESCRIPTION,NEUTRALDESCRIPTION,VISITORDESCRIPTION,SCORE,SCOREMARGIN
0,0021900096,2,12,0,1,10:42 PM,12:00,None,None,None,None,None
1,0021900096,4,10,0,1,10:42 PM,12:00,Jump Ball Cauley-Stein vs. Whiteside: Tip to T...,None,None,None,None
2,0021900096,7,6,2,1,10:42 PM,11:42,Cauley-Stein S.FOUL (P1.T1) (K.Mauer),None,None,None,None
3,0021900096,9,3,11,1,10:43 PM,11:42,None,None,MISS Whiteside Free Throw 1 of 2,None,None
4,0021900096,10,4,1,1,10:43 PM,11:42,None,None,Trail Blazers Rebound,None,None
5,0021900096,11,3,12,1,10:43 PM,11:42,None,None,Whiteside Free Throw 2 of 2 (1 PTS),1 - 0,-1
6,0021900096,12,1,79,1,10:43 PM,11:27,Paschall 27' 3PT Pullup Jump Shot (3 PTS) (Poo...,None,None,1 - 3,2
7,0021900096,14,2,1,1,10:43 PM,11:08,None,None,MISS Lillard 26' 3PT Jump Shot,None,None
8,0021900096,15,4,0,1,10:43 PM,11:06,None,None,Whiteside REBOUND (Off:1 Def:0),None,None
9,0021900096,16,1,5,1,10:43 PM,11:05,None,None,Whiteside 4' Layup (3 PTS),3 - 3,TIE
10,0021900096,17,1,79,1,10:44 PM,10:53,Paschall 28' 3PT Pullup Jump Shot (6 PTS) (Bow...,None,None,3 - 6,3
11,0021900096,19,1,57,1,10:44 PM,10:32,None,None,Whiteside 8' Driving Hook Shot (5 PTS),5 - 6,1
12,0021900096,20,1,63,1,10:44 PM,10:16,Robinson III 15' Fadeaway Jumper (2 PTS),None,None,5 - 8,3
13,0021900096,21,1,63,1,10:44 PM,9:58,None,None,McCollum 20' Fadeaway Jumper (2 PTS),7 - 8,1
14,0021900096,22,1,75,1,10:45 PM,9:43,Bowman 8' Driving Finger Roll Layup (2 PTS),None,None,7 - 10,3
15,0021900096,23,2,86,1,10:45 PM,9:25,None,None,MISS Hood 10' Turnaround Fadeaway Shot,None,None
16,0021900096,24,4,0,1,10:45 PM,9:23,Cauley-Stein REBOUND (Off:0 Def:1),None,None,None,None
17,0021900096,25,6,2,1,10:45 PM,9:14,None,None,Whiteside S.FOUL (P1.T1) (D.Collins),None,None
18,0021900096,27,3,11,1,10:46 PM,9:14,Cauley-Stein Free Throw 1 of 2 (1 PTS),None,None,7 - 11,4
19,0021900096,28,3,12,1,10:46 PM,9:14,Cauley-Stein Free Throw 2 of 2 (2 PTS),None,None,7 - 12,5
20,0021900096,29,2,101,1,10:46 PM,8:59,None,None,MISS McCollum 10' Driving Floating Jump Shot,None,None
21,0021900096,30,4,0,1,10:46 PM,8:58,Paschall REBOUND (Off:0 Def:1),None,None,None,None
22,0021900096,31,2,79,1,10:46 PM,8:42,MISS Paschall 17' Pullup Jump Shot,None,None,None,None
23,0021900096,32,4,0,1,10:47 PM,8:40,None,None,Lillard REBOUND (Off:0 Def:1),None,None
24,0021900096,33,2,1,1,10:47 PM,8:35,None,None,MISS McCollum 27' 3PT Jump Shot,None,None
25,0021900096,34,4,0,1,10:47 PM,8:33,Paschall REBOUND (Off:0 Def:2),None,None,None,None
26,0021900096,35,1,79,1,10:47 PM,8:18,Bowman 15' Pullup Jump Shot (4 PTS) (Cauley-St...,None,None,7 - 14,7
27,0021900096,37,6,1,1,10:47 PM,7:58,Bowman P.FOUL (P1.T2) (K.Mauer),None,None,None,None
28,0021900096,39,1,58,1,10:48 PM,7:48,None,None,Whiteside 12' Turnaround Hook Shot (7 PTS) (To...,9 - 14,5
29,0021900096,41,2,79,1,10:48 PM,7:35,MISS Poole 16' Pullup Jump Shot,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
447,0021900096,644,2,5,4,12:51 AM,1:19,MISS Paschall 3' Layup,None,Lillard BLOCK (1 BLK),None,None
448,0021900096,645,4,0,4,12:51 AM,1:18,WARRIORS Rebound,None,None,None,None
449,0021900096,647,2,1,4,12:51 AM,1:13,MISS Poole 30' 3PT Jump Shot,None,None,None,None
450,0021900096,648,4,0,4,12:51 AM,1:11,None,None,Simons REBOUND (Off:0 Def:2),None,None
451,0021900096,649,1,1,4,12:51 AM,1:05,None,None,Hezonja 24' 3PT Jump Shot (11 PTS) (McCollum 6...,111 - 117,6
452,0021900096,652,6,2,4,12:51 AM,0:57,None,None,Hezonja S.FOUL (P4.PN) (D.Collins),None,None
453,0021900096,654,3,11,4,12:52 AM,0:57,Lee Free Throw 1 of 2 (14 PTS),None,None,111 - 119,8
454,0021900096,657,3,12,4,12:52 AM,0:57,Lee Free Throw 2 of 2 (14 PTS),None,None,111 - 119,8
455,0021900096,655,8,0,4,12:52 AM,0:57,SUB: Bowman FOR Chriss,None,None,None,None
456,0021900096,658,1,75,4,12:52 AM,0:51,None,None,McCollum 3' Driving Finger Roll Layup (11 PTS),113 - 119,6
457,0021900096,659,6,1,4,12:53 AM,0:48,None,None,Hood P.FOUL (P3.PN) (D.Richardson),None,None
458,0021900096,661,3,11,4,12:53 AM,0:48,Lee Free Throw 1 of 2 (15 PTS),None,None,113 - 120,7
459,0021900096,662,3,12,4,12:53 AM,0:48,Lee Free Throw 2 of 2 (16 PTS),None,None,113 - 121,8
460,0021900096,663,2,1,4,12:54 AM,0:35,None,None,MISS Lillard 26' 3PT Jump Shot,None,None
461,0021900096,664,4,0,4,12:54 AM,0:33,Poole REBOUND (Off:0 Def:3),None,None,None,None
462,0021900096,666,6,1,4,12:54 AM,0:32,None,None,Hezonja P.FOUL (P5.PN) (D.Richardson),None,None
463,0021900096,668,3,11,4,12:54 AM,0:32,Poole Free Throw 1 of 2 (13 PTS),None,None,113 - 122,9
464,0021900096,669,3,12,4,12:55 AM,0:32,Poole Free Throw 2 of 2 (14 PTS),None,None,113 - 123,10
465,0021900096,670,1,2,4,12:55 AM,0:26,None,None,McCollum 27' 3PT Running Jump Shot (14 PTS),116 - 123,7
466,0021900096,671,6,28,4,12:55 AM,0:24,None,None,Simons Personal Take Foul (P4.PN) (D.Collins),None,None
467,0021900096,673,3,11,4,12:55 AM,0:24,Poole Free Throw 1 of 2 (15 PTS),None,None,116 - 124,8
468,0021900096,674,3,12,4,12:56 AM,0:24,Poole Free Throw 2 of 2 (16 PTS),None,None,116 - 125,9
469,0021900096,675,2,1,4,12:56 AM,0:18,None,None,MISS McCollum 25' 3PT Jump Shot,None,None
470,0021900096,676,4,0,4,12:56 AM,0:15,Lee REBOUND (Off:0 Def:4),None,None,None,None
471,0021900096,677,6,1,4,12:56 AM,0:11,None,None,Hezonja P.FOUL (P6.PN) (D.Richardson),None,None
472,0021900096,680,8,0,4,12:57 AM,0:11,None,None,SUB: Trent Jr. FOR Hezonja,None,None
473,0021900096,682,3,11,4,12:57 AM,0:11,Lee Free Throw 1 of 2 (17 PTS),None,None,116 - 126,10
474,0021900096,683,3,12,4,12:57 AM,0:11,Lee Free Throw 2 of 2 (18 PTS),None,None,116 - 127,11
475,0021900096,684,1,41,4,12:57 AM,0:07,None,None,Simons 2' Running Layup (14 PTS),118 - 127,9
476,0021900096,685,13,0,4,12:58 AM,0:00,None,None,None,118 - 127,9

In [1]:
headers = {
    'Host': 'stats.nba.com',
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:61.0) Gecko/20100101 Firefox/61.0',
    'Accept': 'application/json, text/plain, */*',
    'Accept-Language': 'en-US,en;q=0.5',
    'Referer': 'https://stats.nba.com/',
    'Accept-Encoding': 'gzip, deflate, br',
    'Connection': 'keep-alive',
}

In [7]:



trial = TeamVsPlayer(vs_player_id=steph_id,team_id='1610612737',season='2016-17',headers=headers).get_normalized_dict()

df = pd.DataFrame.from_dict(trial, orient = 'index').transpose()

In [72]:
df.iloc[2]['OnOffCourt']

,Overall,vsPlayerOverall,OnOffCourt,ShotDistanceOverall,ShotDistanceOnCourt,ShotDistanceOffCourt,ShotAreaOverall,ShotAreaOnCourt,ShotAreaOffCourt
0,"{'GROUP_SET': 'Overall', 'GROUP_VALUE': 'Atlan...","{'GROUP_SET': 'Overall', 'GROUP_VALUE': 'Steph...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Shot Distance (5ft)', 'GROUP_VA...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Shot Area', 'GROUP_VALUE': 'Res...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612..."
1,None,None,"{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Shot Distance (5ft)', 'GROUP_VA...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Shot Area', 'GROUP_VALUE': 'In ...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612..."
2,None,None,None,"{'GROUP_SET': 'Shot Distance (5ft)', 'GROUP_VA...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Shot Area', 'GROUP_VALUE': 'Mid...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612..."
3,None,None,None,"{'GROUP_SET': 'Shot Distance (5ft)', 'GROUP_VA...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Shot Area', 'GROUP_VALUE': 'Lef...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612..."
4,None,None,None,"{'GROUP_SET': 'Shot Distance (5ft)', 'GROUP_VA...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Shot Area', 'GROUP_VALUE': 'Rig...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612..."
5,None,None,None,"{'GROUP_SET': 'Shot Distance (5ft)', 'GROUP_VA...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Shot Area', 'GROUP_VALUE': 'Abo...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612..."
6,None,None,None,"{'GROUP_SET': 'Shot Distance (5ft)', 'GROUP_VA...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Shot Area', 'GROUP_VALUE': 'Bac...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612..."
7,None,None,None,"{'GROUP_SET': 'Shot Distance (5ft)', 'GROUP_VA...",None,"{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...",None,None,None
8,None,None,None,"{'GROUP_SET': 'Shot Distance (5ft)', 'GROUP_VA...",None,None,None,None,None

In [76]:
nba_teams_info = pd.concat([pd.DataFrame.from_dict(teams.get_teams()[i], orient='index').transpose() for i in range(30)],ignore_index=True)

In [86]:
StephVsTeam_df = pd.DataFrame(columns = nba_teams_info['full_name'], index=['2018-19','2017-18','2016-17','2015-14','2014-13','2013-12','2012-11','2011-12','2010-11','2009-10'])

In [87]:
StephVsTeam_df

full_name,Atlanta Hawks,Boston Celtics,Cleveland Cavaliers,New Orleans Pelicans,Chicago Bulls,Dallas Mavericks,Denver Nuggets,Golden State Warriors,Houston Rockets,Los Angeles Clippers,...,Portland Trail Blazers,Sacramento Kings,San Antonio Spurs,Oklahoma City Thunder,Toronto Raptors,Utah Jazz,Memphis Grizzlies,Washington Wizards,Detroit Pistons,Charlotte Hornets
2018-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
StephVsTeam_df.loc['2018-2019']['Atlanta Hawks']

nan

In [82]:
df

,Overall,vsPlayerOverall,OnOffCourt,ShotDistanceOverall,ShotDistanceOnCourt,ShotDistanceOffCourt,ShotAreaOverall,ShotAreaOnCourt,ShotAreaOffCourt
0,"{'GROUP_SET': 'Overall', 'GROUP_VALUE': 'Atlan...","{'GROUP_SET': 'Overall', 'GROUP_VALUE': 'Steph...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Shot Distance (5ft)', 'GROUP_VA...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Shot Area', 'GROUP_VALUE': 'Res...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612..."
1,None,None,"{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Shot Distance (5ft)', 'GROUP_VA...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Shot Area', 'GROUP_VALUE': 'In ...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612..."
2,None,None,None,"{'GROUP_SET': 'Shot Distance (5ft)', 'GROUP_VA...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Shot Area', 'GROUP_VALUE': 'Mid...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612..."
3,None,None,None,"{'GROUP_SET': 'Shot Distance (5ft)', 'GROUP_VA...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Shot Area', 'GROUP_VALUE': 'Lef...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612..."
4,None,None,None,"{'GROUP_SET': 'Shot Distance (5ft)', 'GROUP_VA...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Shot Area', 'GROUP_VALUE': 'Rig...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612..."
5,None,None,None,"{'GROUP_SET': 'Shot Distance (5ft)', 'GROUP_VA...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Shot Area', 'GROUP_VALUE': 'Abo...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612..."
6,None,None,None,"{'GROUP_SET': 'Shot Distance (5ft)', 'GROUP_VA...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Shot Area', 'GROUP_VALUE': 'Bac...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...","{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612..."
7,None,None,None,"{'GROUP_SET': 'Shot Distance (5ft)', 'GROUP_VA...",None,"{'GROUP_SET': 'Vs. Player', 'TEAM_ID': 1610612...",None,None,None
8,None,None,None,"{'GROUP_SET': 'Shot Distance (5ft)', 'GROUP_VA...",None,None,None,None,None

In [85]:
StephVsTeam_df.head()

full_name,Atlanta Hawks,Boston Celtics,Cleveland Cavaliers,New Orleans Pelicans,Chicago Bulls,Dallas Mavericks,Denver Nuggets,Golden State Warriors,Houston Rockets,Los Angeles Clippers,...,Portland Trail Blazers,Sacramento Kings,San Antonio Spurs,Oklahoma City Thunder,Toronto Raptors,Utah Jazz,Memphis Grizzlies,Washington Wizards,Detroit Pistons,Charlotte Hornets
2018-2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
nba_teams_info = pd.concat([pd.DataFrame.from_dict(teams.get_teams()[i], orient='index').transpose() for i in range(30)],ignore_index=True)

In [ ]:
def filter_col(df):
    df.drop(['Overall','vsPlayerOverall','ShotDistanceOverall','ShotDistanceOffCourt','ShotAreaOverall','ShotAreaOffCourt'])
    return df


def insert_PlayerVsTeam(StephVsTeam_df,player_id,team_info):
    seasons = ['2018-19','2017-18','2016-17','2015-14','2014-13','2013-12','2012-11','2011-12','2010-11','2009-10']
    for i in seasons:
        team_id = team_info['id'][0]
        team_name = team_info['full_name'][0]
        dict_team = TeamVsPlayer(vs_player_id=player_id,team_id=team_id,season=i,headers=headers).get_normalized_dict()
        dict_to_df = pd.DataFrame.from_dict(dict_team, orient = 'index').transpose()
        filtered_col = filter_col(dict_to_df)
        StephVsTeam_df.loc[i][team_name] = filtered_col

In [134]:
nba_players_info = pd.concat([pd.DataFrame.from_dict(players.get_players()[i], orient='index').transpose() for i in range(len(players.get_players()))],ignore_index=True)

In [ ]:
nba_playersnba_players_info['is_active'] == True

In [135]:
def is_active(players_info):

           id            full_name first_name     last_name is_active
0       76001       Alaa Abdelnaby       Alaa     Abdelnaby     False
1       76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz     False
2       76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar     False
3          51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf     False
4        1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad     False
5         949  Shareef Abdur-Rahim    Shareef   Abdur-Rahim     False
6       76005        Tom Abernethy        Tom     Abernethy     False
7       76006          Forest Able     Forest          Able     False
8       76007       John Abramovic       John     Abramovic     False
9      203518         Alex Abrines       Alex       Abrines      True
10     101165           Alex Acker       Alex         Acker     False
11      76008      Donald Ackerman     Donald      Ackerman     False
12      76009           Mark Acres       Mark         Acres     False
13      76010        Charles Acton    Charles         Acton     False
14     203112           Quincy Acy     Quincy           Acy      True
15      76011          Alvan Adams      Alvan         Adams     False
16      76012            Don Adams        Don         Adams     False
17     200801         Hassan Adams     Hassan         Adams     False
18    1629121         Jaylen Adams     Jaylen         Adams      True
19     203919         Jordan Adams     Jordan         Adams     False
20        149        Michael Adams    Michael         Adams     False
21     203500         Steven Adams     Steven         Adams      True
22        912       Rafael Addison     Rafael       Addison     False
23    1628389          Bam Adebayo        Bam       Adebayo      True
24    1629061            Deng Adel       Deng          Adel      True
25      76015         Rick Adelman       Rick       Adelman     False
26     202399          Jeff Adrien       Jeff        Adrien     False
27     201167        Arron Afflalo      Arron       Afflalo     False
28     200772         Maurice Ager    Maurice          Ager     False
29      76016         Mark Aguirre       Mark       Aguirre     False
...       ...                  ...        ...           ...       ...
4363  1626202            Joe Young        Joe         Young     False
4364     1748       Korleone Young   Korleone         Young     False
4365    78634        Michael Young    Michael         Young     False
4366   201156           Nick Young       Nick         Young      True
4367    78635          Perry Young      Perry         Young     False
4368   201970            Sam Young        Sam         Young     False
4369   201152       Thaddeus Young   Thaddeus         Young      True
4370     1937            Tim Young        Tim         Young     False
4371  1629027           Trae Young       Trae         Young      True
4372    78638        Max Zaslofsky        Max     Zaslofsky     False
4373    78639       Robert Zawoluk     Robert       Zawoluk     False
4374   203469          Cody Zeller       Cody        Zeller      True
4375    78640          Dave Zeller       Dave        Zeller     False
4376    78641          Gary Zeller       Gary        Zeller     False
4377    78642          Hank Zeller       Hank        Zeller     False
4378   202545          Luke Zeller       Luke        Zeller     False
4379   203092         Tyler Zeller      Tyler        Zeller      True
4380    78643            Tony Zeno       Tony          Zeno     False
4381    78644     Phil Zevenbergen       Phil   Zevenbergen     False
4382     1917         Wang Zhi-zhi       Wang       Zhi-zhi     False
4383  1627753              Zhou Qi                  Zhou Qi      True
4384      678         George Zidek     George         Zidek     False
4385     2583    Derrick Zimmerman    Derrick     Zimmerman     False
4386  1627757    Stephen Zimmerman    Stephen     Zimmerman     False
4387  1627835          Paul Zipser       Paul        Zipser     False
4388  1627790           Ante Zizic       Ante         Zizic      True
4389    78647             Jim Zoet        Jim          Zoet     False
4390    78648            Bill Zopf       Bill          Zopf     False
4391  1627826          Ivica Zubac      Ivica         Zubac      True
4392    78650           Matt Zunic       Matt         Zunic     False

[4393 rows x 5 columns]

In [99]:
def insert_PlayerVsPlayer(StephVsPlayers_df,player_id,vs_player_id):

'Atlanta Hawks'

In [121]:
data = PlayerVsPlayer(player_id = steph_id, vs_player_id = pat_id,headers=headers,season='2015-16').get_normalized_dict()
df = pd.DataFrame.from_dict(data, orient = 'index').transpose()

In [133]:
df.iloc[5]['ShotAreaOnCourt']

{'GROUP_SET': 'Vs. Player',
 'PLAYER_ID': 201939,
 'PLAYER_NAME': 'Stephen Curry',
 'VS_PLAYER_ID': 201976,
 'VS_PLAYER_NAME': 'Beverley, Patrick',
 'COURT_STATUS': 'On',
 'GROUP_VALUE': 'Above the Break 3',
 'FGM': 2,
 'FGA': 9,
 'FG_PCT': 0.222,
 'CFID': 100,
 'CFPARAMS': '201976'}

In [108]:
df

,Overall,OnOffCourt,ShotDistanceOverall,ShotDistanceOnCourt,ShotDistanceOffCourt,ShotAreaOverall,ShotAreaOnCourt,ShotAreaOffCourt,PlayerInfo,VsPlayerInfo
0,"{'GROUP_SET': 'Overall', 'GROUP_VALUE': 'Steph...","{'GROUP_SET': 'Vs. Player', 'PLAYER_ID': 20193...","{'GROUP_SET': 'Shot Distance (5ft)', 'GROUP_VA...","{'GROUP_SET': 'Vs. Player', 'PLAYER_ID': 20193...","{'GROUP_SET': 'Vs. Player', 'PLAYER_ID': 20193...","{'GROUP_SET': 'Shot Area', 'GROUP_VALUE': 'Res...","{'GROUP_SET': 'Vs. Player', 'PLAYER_ID': 20193...","{'GROUP_SET': 'Vs. Player', 'PLAYER_ID': 20193...","{'PERSON_ID': 201939, 'FIRST_NAME': 'Stephen',...","{'PERSON_ID': 201976, 'FIRST_NAME': 'Patrick',..."
1,"{'GROUP_SET': 'Overall', 'GROUP_VALUE': 'Patri...","{'GROUP_SET': 'Vs. Player', 'PLAYER_ID': 20193...","{'GROUP_SET': 'Shot Distance (5ft)', 'GROUP_VA...","{'GROUP_SET': 'Vs. Player', 'PLAYER_ID': 20193...","{'GROUP_SET': 'Vs. Player', 'PLAYER_ID': 20193...","{'GROUP_SET': 'Shot Area', 'GROUP_VALUE': 'In ...","{'GROUP_SET': 'Vs. Player', 'PLAYER_ID': 20193...","{'GROUP_SET': 'Vs. Player', 'PLAYER_ID': 20193...",None,None
2,None,None,"{'GROUP_SET': 'Shot Distance (5ft)', 'GROUP_VA...","{'GROUP_SET': 'Vs. Player', 'PLAYER_ID': 20193...","{'GROUP_SET': 'Vs. Player', 'PLAYER_ID': 20193...","{'GROUP_SET': 'Shot Area', 'GROUP_VALUE': 'Mid...","{'GROUP_SET': 'Vs. Player', 'PLAYER_ID': 20193...","{'GROUP_SET': 'Vs. Player', 'PLAYER_ID': 20193...",None,None
3,None,None,"{'GROUP_SET': 'Shot Distance (5ft)', 'GROUP_VA...","{'GROUP_SET': 'Vs. Player', 'PLAYER_ID': 20193...","{'GROUP_SET': 'Vs. Player', 'PLAYER_ID': 20193...","{'GROUP_SET': 'Shot Area', 'GROUP_VALUE': 'Lef...","{'GROUP_SET': 'Vs. Player', 'PLAYER_ID': 20193...","{'GROUP_SET': 'Vs. Player', 'PLAYER_ID': 20193...",None,None
4,None,None,"{'GROUP_SET': 'Shot Distance (5ft)', 'GROUP_VA...","{'GROUP_SET': 'Vs. Player', 'PLAYER_ID': 20193...","{'GROUP_SET': 'Vs. Player', 'PLAYER_ID': 20193...","{'GROUP_SET': 'Shot Area', 'GROUP_VALUE': 'Rig...","{'GROUP_SET': 'Vs. Player', 'PLAYER_ID': 20193...","{'GROUP_SET': 'Vs. Player', 'PLAYER_ID': 20193...",None,None
5,None,None,"{'GROUP_SET': 'Shot Distance (5ft)', 'GROUP_VA...","{'GROUP_SET': 'Vs. Player', 'PLAYER_ID': 20193...","{'GROUP_SET': 'Vs. Player', 'PLAYER_ID': 20193...","{'GROUP_SET': 'Shot Area', 'GROUP_VALUE': 'Abo...","{'GROUP_SET': 'Vs. Player', 'PLAYER_ID': 20193...","{'GROUP_SET': 'Vs. Player', 'PLAYER_ID': 20193...",None,None
6,None,None,"{'GROUP_SET': 'Shot Distance (5ft)', 'GROUP_VA...","{'GROUP_SET': 'Vs. Player', 'PLAYER_ID': 20193...","{'GROUP_SET': 'Vs. Player', 'PLAYER_ID': 20193...","{'GROUP_SET': 'Shot Area', 'GROUP_VALUE': 'Bac...","{'GROUP_SET': 'Vs. Player', 'PLAYER_ID': 20193...","{'GROUP_SET': 'Vs. Player', 'PLAYER_ID': 20193...",None,None
7,None,None,"{'GROUP_SET': 'Shot Distance (5ft)', 'GROUP_VA...","{'GROUP_SET': 'Vs. Player', 'PLAYER_ID': 20193...",None,None,None,None,None,None
8,None,None,"{'GROUP_SET': 'Shot Distance (5ft)', 'GROUP_VA...",None,None,None,None,None,None,None