In [1]:
import pandas as pd

In [2]:
df_2010 = pd.read_csv('../data/shooting/curry-2009-2019/curry-2010.csv')
df_2011 = pd.read_csv('../data/shooting/curry-2009-2019/curry-2011.csv')
df_2012 = pd.read_csv('../data/shooting/curry-2009-2019/curry-2012.csv')
df_2013 = pd.read_csv('../data/shooting/curry-2009-2019/curry-2013.csv')
df_2014 = pd.read_csv('../data/shooting/curry-2009-2019/curry-2014.csv')
df_2015 = pd.read_csv('../data/shooting/curry-2009-2019/curry-2015.csv')
df_2016 = pd.read_csv('../data/shooting/curry-2009-2019/curry-2016.csv')
df_2017 = pd.read_csv('../data/shooting/curry-2009-2019/curry-2017.csv')
df_2018 = pd.read_csv('../data/shooting/curry-2009-2019/curry-2018.csv')
df_2019 = pd.read_csv('../data/shooting/curry-2009-2019/curry-2019.csv')

In [9]:
df_all = pd.concat([df_2010, df_2011, df_2012, df_2013, df_2014, df_2015, df_2016, df_2017, df_2018, df_2019], axis=0)
df_all = df_all.drop(['x', 'y', 'shot_description', 'game_score'], axis=1)
df_all

,date,home,vs,quarter,time_left,shot_made,shot_value,shot_distance
0,2009-10-28,True,HOU,1,11:25,False,3,27
1,2009-10-28,True,HOU,1,09:31,True,2,19
2,2009-10-28,True,HOU,1,06:02,False,2,14
3,2009-10-28,True,HOU,2,09:49,False,2,19
4,2009-10-28,True,HOU,2,02:19,False,2,16
...,...,...,...,...,...,...,...,...
1745,2019-06-13,True,TOR,4,07:30,False,2,12
1746,2019-06-13,True,TOR,4,06:00,True,2,20
1747,2019-06-13,True,TOR,4,05:32,False,3,26
1748,2019-06-13,True,TOR,4,04:03,False,3,25
1749,2019-06-13,True,TOR,4,00:08,False,3,27

In [17]:
df_all.groupby('date')['shot_made'].count() # shots attempted

date
2009-10-28    12
2009-10-30     9
2009-11-04     6
2009-11-06     5
2009-11-08     8
              ..
2019-06-02    16
2019-06-05    31
2019-06-07    22
2019-06-10    23
2019-06-13    14
Name: shot_made, Length: 804, dtype: int64

In [18]:
df_all.groupby('date')['shot_made'].sum() # shots made

date
2009-10-28     7.0
2009-10-30     5.0
2009-11-04     3.0
2009-11-06     1.0
2009-11-08     4.0
              ...
2019-06-02     6.0
2019-06-05    14.0
2019-06-07     9.0
2019-06-10    10.0
2019-06-13     6.0
Name: shot_made, Length: 804, dtype: float64

In [19]:
df_all.groupby(['date', 'quarter'])['shot_made'].count() # shot attempts per quarter

date        quarter
2009-10-28  1          3
            2          3
            4          6
2009-10-30  1          2
            2          2
                      ..
2019-06-10  4          6
2019-06-13  1          2
            2          3
            3          4
            4          5
Name: shot_made, Length: 2978, dtype: int64

In [20]:
df_all.groupby(['date', 'quarter'])['shot_made'].sum() # shots made per quarter

date        quarter
2009-10-28  1          1.0
            2          0.0
            4          6.0
2009-10-30  1          1.0
            2          2.0
                      ...
2019-06-10  4          2.0
2019-06-13  1          1.0
            2          1.0
            3          3.0
            4          1.0
Name: shot_made, Length: 2978, dtype: float64

In [30]:
df_all.groupby(['date', 'quarter'])['shot_made'].rolling(window = 1).sum().shift().head(30)

date        quarter
2009-10-28  1        0     NaN
                     1     0.0
                     2     1.0
            2        3     0.0
                     4     0.0
                     5     0.0
            4        6     0.0
                     7     1.0
                     8     1.0
                     9     1.0
                     10    1.0
                     11    1.0
2009-10-30  1        12    1.0
                     13    0.0
            2        14    1.0
                     15    1.0
            3        16    1.0
                     17    0.0
            4        18    0.0
                     19    0.0
                     20    1.0
2009-11-04  1        21    1.0
                     22    1.0
                     23    0.0
                     24    1.0
            2        25    0.0
            3        26    0.0
2009-11-06  1        27    1.0
                     28    0.0
                     29    0.0
Name: shot_made, dtype: float64

In [25]:
df_all['shot_made'].head()

0    False
1     True
2    False
3    False
4    False
Name: shot_made, dtype: bool